<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>eBqto.com - La Gran Tienda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your page description here" />
    <meta name="author" content="" />

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/camera.css" rel="stylesheet" />
    <link href="~/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />

    <!-- Theme skin -->
    <link href="~/color/default.css" rel="stylesheet" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="~/img/favicom.png" />

    <!-- =======================================================
      Theme Name: Eterna
      Theme URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>

    <div id="wrapper">

        <!-- start header -->
        <header class="header">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <p class="topcontact"><i class="icon-phone"></i> +62 088 999 123</p>
                        </div>
                        <div class="span6">

                            <ul class="social-network">
                                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest  icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-google-plus icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Dribbble"><i class="icon-dribbble icon-white"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="row nomargin">
                    <div class="span3">
                        <div class="logo">
                            <a asp-action="Inicio" asp-controller="EbqtoMain"><img src="/img/eb﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>eBqto.com - La Gran Tienda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your page description here" />
    <meta name="author" content="" />

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/camera.css" rel="stylesheet" />
    <link href="~/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />

    <!-- Theme skin -->
    <link href="~/color/default.css" rel="stylesheet" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="~/img/favicom.png" />

    <!-- =======================================================
      Theme Name: Eterna
      Theme URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>

    <div id="wrapper">

        <!-- start header -->
        <header class="header">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <p class="topcontact"><i class="icon-phone"></i> +62 088 999 123</p>
                        </div>
                        <div class="span6">

                            <ul class="social-network">
                                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest  icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-google-plus icon-white"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Dribbble"><i class="icon-dribbble icon-white"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="row nomargin">
                    <div class="span3">
                        <div class="logo">
                            <a asp-action="Inicio" asp-controller="EbqtoMain"><img src="/img/ebqto.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="widget">
                            <form method="post">
                                <div class="input-append">
                                    <input class="span4" id="appendedInputButton" type="text" placeholder="Busca aqui" style="font-size:12px; height: 30px;">
                                    <button class="btn btn-theme" type="submit" style="font-size: 12px; height: 40px; width: 80px;">Buscar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="navbar navbar-static-top">
                            <div class="navigation">
                                <nav>
                                    <ul class="nav topnav">
                                        <li class="dropdown">
                                            <a href="index.html"><i class="icon-home"></i> Inicio <i class="icon-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="index-alt2.html">Mis Ordenes</a></li>
                                                <li><a href="index-alt3.html">Mis Favoritos</a></li>
                                                <li><a href="index-alt4.html">Ver Carrito</a></li>
                                                <li><a href="index-landingpage.html">Mi Historial</a></li>
                                            </ul>
                                        </li>


                                        <li class="dropdown">
                                            <a href="#">Categorias <i class="icon-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog-left-sidebar.html">Supermercados</a></li>
                                                <li><a href="blog-right-sidebar.html">Ropa y Calzados</a></li>
                                                <li><a href="blog-fullwidth.html">Articulos del Hogar</a></li>
                                                <li><a href="post-left-sidebar.html">Lineas Blancas</a></li>
                                                <li><a href="post-right-sidebar.html">Repuestos Carros</a></li>
                                                <li><a href="post-right-sidebar.html">Repuestos Motos</a></li>
                                                <li><a href="post-right-sidebar.html">Repuestos Bicicletas</a></li>
                                                <li><a href="post-right-sidebar.html">Tecnologia y Computación</a></li>
                                            </ul>
                                        </li>

                                      
                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

        <div class="container">
            @RenderBody()
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Información</h5>
                            <ul class="link-list">
                                <li><a target="_blank" href="http://jrsoftware-001-site2.htempurl.com/about.html">Nuestra empresa</a></li>
                                <li><a target="_blank" href="http://jrsoftware-001-site2.htempurl.com/termycond.html">Terminos y Condiciones</a></li>
                                <li><a target="_blank" href="http://jrsoftware-001-site2.htempurl.com/polypriva.html">Politica de privacidad</a></li>
                                <li><a href="#">Desarrollo en curso</a></li>
                                <li><a href="#">Que hacemos ?</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Dirección Contacto</h5>
                            <address>
                                <strong>JR-SOFTWARE</strong><br>
                                Calle 28 / 19 Centro<br>
                                Barquisimeto - Edo Lara<br />
                                Venezuela
                            </address>
                            <p>
                                <i class="icon-phone"></i> (0251) 266-7465 - (0416) 815-3975 <br>
                                <i class="icon-envelope-alt"></i> soporte@jrsoftware.com
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Suscribete para promociones</h5>
                            <p>
                                Envianos a tu bandeja todas las promociones economicas para tu alcance
                            </p>
                            <form class="subscribe">
                                <div class="input-append">
                                    <input class="span2" id="appendedInputButton" type="text">
                                    <button class="btn btn-theme" type="button" onclick="alert('Modulo en Construcción')">Suscribite</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <div class="copyright">
                                <p><span>&copy; JR-SOFWARE. Todos los derechos reservados</span></p>
                            </div>

                        </div>

                        <div class="span6">
                            <div class="credits">
                                <!--
                                  All the links in the footer should remain intact.
                                  You can delete the links only if you purchased the pro version.
                                  Licensing information: https://bootstrapmade.com/license/
                                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Eterna
                                -->
                                Diseñado por <a href="https://jr-soft.com/">JR-SOFTWARE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>

    <!-- javascript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/tableToJSON.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/js/toucheffects.js"></script>
    <script src="~/js/google-code-prettify/prettify.js"></script>
    <script src="~/js/jquery.bxslider.min.js"></script>
      <script src="~js/camera/camera.js"></script>

    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/portfolio/jquery.quicksand.js"></script>
    <script src="~/js/portfolio/setting.js"></script>

    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="~/js/inview.js"></script> 

    <!-- Contact Form JavaScript File -->
    <script src="~/contactform/contactform.js"></script>

    <!-- Template Custom JavaScript File -->
    <script src="~/js/custom.js"></script>


</body>

</html>
